---
page_title: "thoth_billing_monthly_cost Data Source"
subcategory: "Billing"
description: |-
  Reads tenant monthly billing cost summary.
---

# data source: thoth_billing_monthly_cost

```terraform
data "thoth_billing_monthly_cost" "this" {}
```
