---
page_title: "thoth_mdm_providers Data Source"
subcategory: "MDM"
description: |-
  Reads configured MDM providers for the tenant.
---

# data source: thoth_mdm_providers

```terraform
data "thoth_mdm_providers" "all" {}
```
